*{
    box-sizing: border-box;
}
nav {
    display: flex;
     /* Space between left and right links */
    align-items: center;            /* Ensures vertical alignment */
    padding: 10px 20px;
    background-color: #f0f0f0;
    width:100%;
  }

  .left-links{

    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  nav a {
    text-decoration: none;
    margin-right: 15px; /* Adjust spacing between links */
    color: #000;
  }

header{
    display: flex;

}
.html{
    scroll-behavior: smooth;
  
  }
  
  nav ul {
      list-style-type: none;
      padding: 0;
      align-items: end;
      
  }
  
  nav ul li {
      display: inline;
      margin: 0 1rem;
      align-items: end;
  }

.main-nav{
  display: flex;
  justify-content: center;
}